/* div p{
    color: red;
} */
 
/* div{
    background-color: aquamarine;
    height: 100px;
    width:100px;   
}  

div:hover{
    background-color: red;
    border-radius: 50%;
    transition: 3s;
}   */

li:nth-last-of-type(odd){
    color:red;
}
